Test/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentItService.Enums" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentItService.Entities" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RentItService.Library" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContentBrowsing_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_GetMovieInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieInformation" />
  </wsdl:message>
  <wsdl:message name="IContentBrowsing_GetMovieInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_RegisterMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMovie" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_RegisterMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_EditMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMovie" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_EditMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_UploadEdition_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadEdition" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_UploadEdition_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadEditionResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_DeleteEdition_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEdition" />
  </wsdl:message>
  <wsdl:message name="IContentManagement_DeleteEdition_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEditionResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_GetRentals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRentals" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_GetRentals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentalsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_RentMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RentMovie" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_RentMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IRentalManagement_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentBrowsing">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentBrowsing/GetMovies" message="tns:IContentBrowsing_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentBrowsing/GetMoviesResponse" message="tns:IContentBrowsing_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentBrowsing/GetGenres" message="tns:IContentBrowsing_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentBrowsing/GetGenresResponse" message="tns:IContentBrowsing_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentBrowsing/Search" message="tns:IContentBrowsing_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentBrowsing/SearchResponse" message="tns:IContentBrowsing_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentBrowsing/GetMovieInformation" message="tns:IContentBrowsing_GetMovieInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentBrowsing/GetMovieInformationResponse" message="tns:IContentBrowsing_GetMovieInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IContentManagement">
    <wsdl:operation name="RegisterMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagement/RegisterMovie" message="tns:IContentManagement_RegisterMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagement/RegisterMovieResponse" message="tns:IContentManagement_RegisterMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagement/EditMovie" message="tns:IContentManagement_EditMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagement/EditMovieResponse" message="tns:IContentManagement_EditMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagement/DeleteMovie" message="tns:IContentManagement_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagement/DeleteMovieResponse" message="tns:IContentManagement_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadEdition">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagement/UploadEdition" message="tns:IContentManagement_UploadEdition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagement/UploadEditionResponse" message="tns:IContentManagement_UploadEdition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEdition">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagement/DeleteEdition" message="tns:IContentManagement_DeleteEdition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagement/DeleteEditionResponse" message="tns:IContentManagement_DeleteEdition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRentalManagement">
    <wsdl:operation name="GetRentals">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalManagement/GetRentals" message="tns:IRentalManagement_GetRentals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalManagement/GetRentalsResponse" message="tns:IRentalManagement_GetRentals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalManagement/RentMovie" message="tns:IRentalManagement_RentMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalManagement/RentMovieResponse" message="tns:IRentalManagement_RentMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalManagement/DownloadFile" message="tns:IRentalManagement_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalManagement/DownloadFileResponse" message="tns:IRentalManagement_DownloadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserManagement">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/SignUp" message="tns:IUserManagement_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/SignUpResponse" message="tns:IUserManagement_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/Login" message="tns:IUserManagement_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/LoginResponse" message="tns:IUserManagement_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/Logout" message="tns:IUserManagement_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/LogoutResponse" message="tns:IUserManagement_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/EditUser" message="tns:IUserManagement_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/EditUserResponse" message="tns:IUserManagement_EditUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentBrowsing" type="tns:IContentBrowsing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IContentBrowsing/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/IContentBrowsing/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IContentBrowsing/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieInformation">
      <soap:operation soapAction="http://tempuri.org/IContentBrowsing/GetMovieInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IContentManagement" type="tns:IContentManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterMovie">
      <soap:operation soapAction="http://tempuri.org/IContentManagement/RegisterMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMovie">
      <soap:operation soapAction="http://tempuri.org/IContentManagement/EditMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IContentManagement/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadEdition">
      <soap:operation soapAction="http://tempuri.org/IContentManagement/UploadEdition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEdition">
      <soap:operation soapAction="http://tempuri.org/IContentManagement/DeleteEdition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRentalManagement" type="tns:IRentalManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRentals">
      <soap:operation soapAction="http://tempuri.org/IRentalManagement/GetRentals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <soap:operation soapAction="http://tempuri.org/IRentalManagement/RentMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IRentalManagement/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserManagement" type="tns:IUserManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserManagement/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IContentBrowsing" binding="tns:BasicHttpBinding_IContentBrowsing">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/ContentBrowsing" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IContentManagement" binding="tns:BasicHttpBinding_IContentManagement">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/ContentManagement" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRentalManagement" binding="tns:BasicHttpBinding_IRentalManagement">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/RentalManagement" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserManagement" binding="tns:BasicHttpBinding_IUserManagement">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/UserManagement" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>