RentItClient/Service References/RentItService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentItService.Entities" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentItService.Enums" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RentItService.Library" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContentService_EditMovieInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMovieInformation" />
  </wsdl:message>
  <wsdl:message name="IContentService_EditMovieInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMovieInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IContentService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IContentService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMovieInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieInformation" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMovieInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMostDownloaded_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMostDownloaded" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMostDownloaded_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMostDownloadedResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetNewest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewest" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetNewest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewestResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMoviesByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByGenre" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetMoviesByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IGetMovieData_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IUploadService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_EditProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProfile" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_EditProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetRentalHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRentalHistory" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetRentalHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRentalHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetCurrentRentals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRentals" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetCurrentRentals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRentalsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_RentMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RentMovie" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_RentMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetContentPublishers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContentPublishers" />
  </wsdl:message>
  <wsdl:message name="IUserInformation_GetContentPublishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentPublishersResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentService">
    <wsdl:operation name="EditMovieInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/EditMovieInformation" message="tns:IContentService_EditMovieInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/EditMovieInformationResponse" message="tns:IContentService_EditMovieInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentService/DeleteMovie" message="tns:IContentService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentService/DeleteMovieResponse" message="tns:IContentService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDownloadService">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadService/DownloadFile" message="tns:IDownloadService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadService/DownloadFileResponse" message="tns:IDownloadService_DownloadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGetMovieData">
    <wsdl:operation name="GetMovieInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetMovieInformation" message="tns:IGetMovieData_GetMovieInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetMovieInformationResponse" message="tns:IGetMovieData_GetMovieInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMostDownloaded">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetMostDownloaded" message="tns:IGetMovieData_GetMostDownloaded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetMostDownloadedResponse" message="tns:IGetMovieData_GetMostDownloaded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetNewest" message="tns:IGetMovieData_GetNewest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetNewestResponse" message="tns:IGetMovieData_GetNewest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetAllGenres" message="tns:IGetMovieData_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetAllGenresResponse" message="tns:IGetMovieData_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetMoviesByGenre" message="tns:IGetMovieData_GetMoviesByGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetMoviesByGenreResponse" message="tns:IGetMovieData_GetMoviesByGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/Search" message="tns:IGetMovieData_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/SearchResponse" message="tns:IGetMovieData_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetMovieData/GetAllMovies" message="tns:IGetMovieData_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetMovieData/GetAllMoviesResponse" message="tns:IGetMovieData_GetAllMovies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUploadService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/UploadFile" message="tns:IUploadService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/UploadFileResponse" message="tns:IUploadService_UploadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserInformation">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/SignUp" message="tns:IUserInformation_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/SignUpResponse" message="tns:IUserInformation_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/LogIn" message="tns:IUserInformation_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/LogInResponse" message="tns:IUserInformation_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/Logout" message="tns:IUserInformation_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/LogoutResponse" message="tns:IUserInformation_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/EditProfile" message="tns:IUserInformation_EditProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/EditProfileResponse" message="tns:IUserInformation_EditProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRentalHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/GetRentalHistory" message="tns:IUserInformation_GetRentalHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/GetRentalHistoryResponse" message="tns:IUserInformation_GetRentalHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRentals">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/GetCurrentRentals" message="tns:IUserInformation_GetCurrentRentals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/GetCurrentRentalsResponse" message="tns:IUserInformation_GetCurrentRentals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/RentMovie" message="tns:IUserInformation_RentMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/RentMovieResponse" message="tns:IUserInformation_RentMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/GetUsers" message="tns:IUserInformation_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/GetUsersResponse" message="tns:IUserInformation_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContentPublishers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInformation/GetContentPublishers" message="tns:IUserInformation_GetContentPublishers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInformation/GetContentPublishersResponse" message="tns:IUserInformation_GetContentPublishers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentService" type="tns:IContentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EditMovieInformation">
      <soap:operation soapAction="http://tempuri.org/IContentService/EditMovieInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IContentService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDownloadService" type="tns:IDownloadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IDownloadService/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGetMovieData" type="tns:IGetMovieData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovieInformation">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetMovieInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostDownloaded">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetMostDownloaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewest">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetNewest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByGenre">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetMoviesByGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IGetMovieData/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUploadService" type="tns:IUploadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IUploadService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserInformation" type="tns:IUserInformation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/EditProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRentalHistory">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/GetRentalHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRentals">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/GetCurrentRentals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/RentMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentPublishers">
      <soap:operation soapAction="http://tempuri.org/IUserInformation/GetContentPublishers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IContentService" binding="tns:BasicHttpBinding_IContentService">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/ContentService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDownloadService" binding="tns:BasicHttpBinding_IDownloadService">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/Download" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGetMovieData" binding="tns:BasicHttpBinding_IGetMovieData">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/GetMovieData" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUploadService" binding="tns:BasicHttpBinding_IUploadService">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/Upload" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserInformation" binding="tns:BasicHttpBinding_IUserInformation">
      <soap:address location="http://rentit.itu.dk/RentIt12/Services/Service.svc/UserInformation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>