RentItClient/Service References/RentItService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentItService.Enums" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentItService.Entities" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt12/Services/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RentItService.Library" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentItService.Enums" minOccurs="0" name="sorting" type="q1:MovieSorting" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMoviesResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movies" nillable="true" type="q2:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGenresResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="genres" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movies" nillable="true" type="q4:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q5:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMovieInformationResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q6:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q7:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMovieResult" type="xs:boolean" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q8:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q9:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMovieResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q10:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="movie" nillable="true" type="q11:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadEdition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RentItService.Library" minOccurs="0" name="stream" nillable="true" type="q12:RemoteFileStream" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="edition" nillable="true" type="q13:Edition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadEditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadEditionResult" type="xs:boolean" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="edition" nillable="true" type="q14:Edition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEdition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="edition" nillable="true" type="q15:Edition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEditionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RentItService.Enums" minOccurs="0" name="scope" type="q16:RentalScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRentalsResult" type="xs:boolean" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="rentals" nillable="true" type="q17:ArrayOfRental" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="edition" nillable="true" type="q18:Edition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RentMovieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="edition" nillable="true" type="q19:Edition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFileResult" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RentItService.Library" minOccurs="0" name="stream" nillable="true" type="q20:RemoteFileStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpResult" type="xs:boolean" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="user" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="user" nillable="true" type="q23:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="user" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" type="xs:boolean" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RentItService.Entities" minOccurs="0" name="user" nillable="true" type="q25:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>